<nav>
    <div class="container">
        <div class="naven">
        <h1><a routerLink="/">MIN SIDA</a></h1>
        </div>
        <ul>
            <li>
                
                <div class="flytta">
                
                <a routerLink="/">Kort beskrivning</a>
               
                </div>
            </li>
        
            <li>
                <a routerLink="/cv">CV</a>
                
            
            </li>
            <li>
                <div class="kontakta">
                <a routerLink="/kontakta">Kontakta</a>

                </div>
            </li>
        

        </ul>
        
    </div>

</nav>