.referenser h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    
    
}
.referenser {
    padding-top: 3rem;
}

.center h1 {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text1 p {
    margin: 0 auto;
    width: 60rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

.mål p {
    margin: 0 auto;
    width: 60rem;
    padding-top: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

.blåtext p {
    margin: 0 auto;
    width: 80rem;
    padding-top: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(92, 92, 241);
}

.text2 {
    margin: 0 auto;
    width: 80rem;
    padding-top: 3rem;
    

}

.p0 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2rem;
}

.p1 {
    font-size: 0.7rem;
    color: grey;
    padding-top: 0.5rem;
    
}

.p2 {
    color: rgb(122, 121, 121);
    padding-top: 0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    
}

.space {
    margin-bottom: 3rem;
}

.utmärkelser {

    
    position: absolute;
    bottom: 10.6rem;
    left: 93rem;
    text-align: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(92, 92, 241);
    

} 

.körkort {
    position: absolute;
    bottom: 9rem;
    left: 93rem;
}

.nummer2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    color: rgb(122, 121, 121);
    margin-right: 1rem;
    
}

.referenser2 {
    position: absolute;
    bottom: 3rem;
    left: 94rem;
}

.nummer3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(92, 92, 241);
}

.referenser3 {
    position: absolute;
    top: 53rem;
    right: 85.5rem;
    
}

.nummer4 {
    
    
    position: relative;
    left: 69.3rem;
    top: 4rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    color: rgb(122, 121, 121);
    
}

.nummer5 {

    position: relative;
    left: 69rem;
    top: 5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    color: rgb(122, 121, 121);

}

.nummer6 {
    position: relative;
    left: 69.55rem;
    top: 6rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    color: rgb(122, 121, 121);
}

.nummer7 {

    position: relative;
    left: 66.6rem;
    top: 7rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    color: rgb(122, 121, 121);

}




