
<div class="container">
    <div class="row">
        <div class="col-6">
        <div class="jumbotron">
    <form name="form" (ngSubmit)="f.form.valid && " #f="ngForm" novalidate>
        <div class="form-group">
            <label for="firstName">Förnamn</label>
            <input type="text" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel"
            [ngClass]="{'is-invalid':f.submitted && firstName.invalid}" name="firstName" required />
            <div class="invalid-feedback">
                <div>Du måste välja ett förnamn</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Efternamn</label>
            <input type="text" class="form-control" [(ngModel)]="model.lastName" #lastName="ngModel"
            [ngClass]="{'is-invalid':f.submitted && lastName.invalid}" name="lastName" required />
            <div class="invalid-feedback">
                <div>Du måste välja ett Efternamn</div>
            </div>
        </div>
            
        <div class="form-group">
            <label for="lastName">Email</label>
            <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" 
            [ngClass]="{'is-invalid':f.submitted && email.invalid}" name="email" required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div>Du måste välja ett Email</div>
                <div>Du måste ha en fungerande Email Address</div>
            </div>
        </div>
        <div class="form-group">
        <button class="btn btn-primary">Submit</button>
        </div>
       
    </form>
</div>
    </div>
</div>
</div>