
<div class="container">
    <div class="row">
        <div class="col-6">
        <div class="jumbotron">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="firstName">Förnamn</label>
            <input type="text" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel"
            [ngClass]="{'is-invalid':f.submitted && firstName.invalid}" name="firstName" required />
            <div class="invalid-feedback">
                <div>Du måste välja ett förnamn</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Efternamn</label>
            <input type="text" class="form-control" [(ngModel)]="model.lastName" #lastName="ngModel"
            [ngClass]="{'is-invalid':f.submitted && lastName.invalid}" name="lastName" required />
            <div class="invalid-feedback">
                <div>Du måste välja ett Efternamn</div>
            </div>
        </div>
            
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" 
            [ngClass]="{'is-invalid':f.submitted && email.invalid}" name="email" required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors!.required">Du måste välja ett Email</div>
                <div *ngIf="email.errors!.email">Du måste ha en fungerande Email Address</div>
            </div>
        </div>
        <div class="form-group">
            <label for="subject">Ämne</label>
            <input type="text" class="form-control" [(ngModel)]="model.subject" #subject="ngModel" 
            [ngClass]="{'is-invalid':f.submitted && subject.invalid}" name="subject" required
            minlength="2" />
            <div *ngIf="f.submitted && subject.invalid" class="invalid-feedback">
                <div *ngIf="subject.errors!.required">Du måste välja ett Ämne</div>
                <div *ngIf="subject.errors!.minlength">Ämnet måste innehålla minst två tecken</div>
            </div>
        </div>
        <div class="form-group">
            <label for="message">Meddelande</label>
            <!--Material textarea-->
<div class="md-form md-outline">
    <textarea type="text" id="form75" class="form-control md-textarea" rows="3" mdbInput [(ngModel)]="model.message" #message="ngModel" 
    [ngClass]="{'is-invalid':f.submitted && message.invalid}" name="message" required
    minlength="2" ></textarea>
    <div *ngIf="f.submitted && message.invalid" class="invalid-feedback">
        <div *ngIf="message.errors!.required">Du måste skriva ett meddelande</div>
        <div *ngIf="message.errors!.minlength">Meddelandet måste innehålla minst två tecken</div>
    </div>
</div>
</div>
<div class="form-group">
    <button class="btn mt-3">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>